@media(max-width:1199px){
	.slider_caption_text h3 {
		font-size: 45px;
	}
	.caption_box .heading {
		font-size: 46px;
		line-height: 56px;
	}
	.navigation_menu > ul > li:last-child > ul {
		right: 0;
		left: auto;
	}
	.navigation_menu > ul > li:last-child > ul:after {
		left: auto;
		right: 15px;
	}
	.copyright_text p {
		font-size: 14px;
	}
	.dashboard_tabss .tabs_menu > li {
        margin: 2px 1px;
    }
}
@media(min-width:992px){
	.caret_down {
		position: absolute;
		top: 23px;
		right: 0;
		cursor: pointer;
		width: 8px;
		height: 8px;
		border-left: 2px solid #ffff;
		border-bottom: 2px solid #ffff;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transition: all ease-in-out 0.3s;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
	}
	.navigation_menu > ul > li > a:hover ~ .caret_down, 
	.navigation_menu > ul > li > a:focus ~ .caret_down, 
	.navigation_menu > ul > li > a.active ~ .caret_down {
		border-color: var(--primary_color);
	}
	.navigation_menu > ul > li > ul > li .caret_down {
		display: none;
	}
	/* == menu fix css == */
	.navigation_header.fixed_menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 11;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.63);
		-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.63);
		-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.63);
	}
	.fixed_menu .header_logo {
		margin-bottom: 0;
	}
	/* == menu fix css == */
	.close_menu_dv{
		display:none;
	}
	.mobile_view{
		display:none !important;
	}
	.row_reverse {
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
}
@media(max-width:991px){
	.h_search_icon{
		display:inline-block !important;
	}
	.header_center {
		text-align: left;
	}
	.main_header {
		padding: 5px 0;
	}
	.close_menu_dv {
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid #ccc;
		margin-bottom: 0;
		padding-bottom: 10px;
		text-align: right;
	}
	.nav_toggle {
		display: inline-block;
	}
	.header_logo > a img {
		max-height: 44px;
	}
	.navigation_header {
		padding: 0px;
		text-align:left;
	}
	.navigation_menu {
		position: absolute;
		float: left;
		width: 100%;
		top: 100%;
		left: 0;
		z-index: 11;
		width:100%;
		display: none;
		background: var(--primary_color);
		padding: 15px;
	}
	.navigation_menu > ul {
		float: none;
		display: inline-block;
		width: 100%;
	}
	.navigation_menu ul li a {
		border-top: 1px solid var(--white_color);
	}
	.navigation_menu ul li {
		float: left;
		width: 100%;
	}
	.navigation_menu > ul > li {
		width: 100%;
	}
	.navigation_menu > ul > li > a {
		padding: 5px 0;
		font-size: 16px;
	}
	/*== submenu css start ==*/
	.caret_down{
		position: absolute;
		top: 11px;
		right: 10px;
		float: right;
		cursor: pointer;
		width: 10px;
		height: 10px;
		border-left: 2px solid #ffff;
		border-bottom: 2px solid #ffff;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transition: all ease-in-out 0.3s;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
	}
	.navigation_menu > ul> li > a:hover, 
	.navigation_menu > ul> li > a.active {
		background-color: transparent;
		color: var(--black_color);
	}
	.navigation_menu > ul > li > ul {
		position: relative;
		top: 100%;
		left: 0;
		background-color: transparent;
		display:none;
		width: auto;
		min-width: auto;
		box-shadow: none;
		animation: none;
		-webkit-animation: none;
		-moz-animation: none;
		visibility: visible;
		opacity: 1;
		transition: none;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
	}
	.navigation_menu > ul > li:hover > ul {
		display:none;
		animation: none;
		-webkit-animation: none;
		-moz-animation: none;
	}
	.navigation_menu > ul > li > ul > li {
		border-bottom: none;
		padding: 0;
	}
	.navigation_menu > ul > li > ul > li > a {
		padding: 7px 16px;
		display: block;
		font-size:15px;
	}
	.navigation_menu > ul > li > ul:after{display:none;}
	.navigation_menu > ul > li > ul > li > a:hover{
		background-color: transparent;
		color: var(--black_color);
	}
	/*== submenu css End ==*/
	/*== second level submenu css End ==*/
	.navigation_menu > ul > li > ul > li > ul {
		position: relative;
		top: 100%;
		left: 0;
		background-color: transparent;
		display:none;
		width: auto;
		min-width: auto;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		visibility: visible;
		opacity: 1;
		transition: none;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
	}
	.navigation_menu > ul > li > ul > li:hover > ul {
		display:none;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}
	.navigation_menu > ul > li > ul > li > ul > li {
		border-bottom: none;
	}
	.navigation_menu > ul > li > ul > li > ul > li > a {
		padding: 6px 10px 6px 24px;
	}
	.navigation_menu > ul > li > ul > li > ul > li > a:hover {
		background-color: transparent;
		color: var(--black_color);
	}
	/*== second level submenu css End ==*/
	.footer_menu nav > ul{
		text-align:center;
	}
	.footer_menu nav > ul > li > a {
		padding: 10px 7px;
	}
	.container_about:after {
		display:none;
	}
	.copyright_footer{
		text-align:center;
	}
	/* contact css */
	.contact_form_cover {
		padding: 20px 10px 20px 15px;
	}
	.contact_heading {
		margin-bottom: 25px;
	}
	.contact_heading .heading {
		font-size: 24px;
	}
	.contact_address {
		padding: 10px 15px 20px;
	}
	/* contact css */
}
@media(max-width:991px){
	.width_30 {
		width: 100%;
	}
	/* Breadcrumb css */
	.page_banner_section, .breadcrumb_wrapper {
		text-align: center;
	}
	.page_banner_section {
		padding: 15px 0;
	}
	.page_banner_title h3 {
		margin-bottom:4px;
	}
	/* Breadcrumb css */
	/* blog comments css */
	.right_avtar_details p {
		font-size: 15px;
		line-height: 24px;
	}
	/* blog comments css */
	/* login css */
	.login_form_thumb .img_box img {
		width: 250px;
	}
	/* login css */
	/* slider css */
	.slide_item {
		text-align: center;
	}
	.slider_caption_text h3 {
		margin-top: 15px;
		font-size: 33px;
		color: #fff;
	}
	.slider_caption_text .slider_btn {
		margin-top: 20px;
	}
	/* slider css */
	/* about css */
	.about_text{
		margin-top:20px;
	}
	/* about css */
	/* Gigs sidebar css */
	.gigs_dash_sidebar_wrap {
		float: left;
		width: 100%;
		min-height:auto;
		margin-bottom: 8px;
	}
	.gigs_dash_sidebar {
		background: #ffffff;
		position: fixed;
		left: -255px;
		top: 0;
		width: 250px;
		height: 100%;
		z-index: 11;
		box-shadow: 0 0 12px rgb(0 0 0 / 56%);
		-webkit-box-shadow: 0 0 12px rgb(0 0 0 / 56%);
		-moz-box-shadow: 0 0 12px rgb(0 0 0 / 56%);
		transition: all ease-in 0.3s;
		-moz-transition: all ease-in 0.3s;
		-webkit-transition: all ease-in 0.3s;
	}
	.sidebar_open_btn, .sidebar_close{
		display:inline-block;
		cursor:pointer;
		padding: 4px 9px;
		background: var(--primary_color);
		color: #fff;
	}
	.sidebar_open_btn{
		margin: 7px 0 7px 6px;
	}
	.sidebar_close{
		margin: 7px 7px 7px 0px;
		float:right;
	}
	.sidebar_close i, .sidebar_open_btn i {
		margin-right: 6px;
	}
	.gigs_dash_sidebar.active {
		left:0;
	}
	.dash_content_cover {
		padding-left: 0px;
		display: inline-block;
		width: 100%;
	}
	/* Gigs sidebar css */
}
@media(max-width:991px){
	/* footer css */
	.footer_address {
		float: left;
		width: 100%;
	}
	.footer_address +.footer_address {
		padding-left: 0px;
	}
	.footer_address ul > li {
		justify-content: left;
	}
	/* footer css */
	.mobile_view{
		display:inline-block;
	}
	.desktop_view{
		display:none;
	}
	/* affiliate css */
	.create_ticket_form .form_group .label_dv {
		float: left;
		width: 100%;
	}
	.create_ticket_form .form_group .label_dv p {
		margin-bottom: 10px;
	}
	.create_ticket_form .form_group .input_group {
		padding-left: 0;
		display: inline-block;
		width: 100%;
	}
	/* affiliate css */
}
@media(max-width:767px){
	/* top header css */
	.top_header {
		text-align: center;
	}
	.h_contact > li {
		padding-top: 3px;
		padding-bottom: 3px;
		display: inline-block;
		float: none;
	}
	.header_social {
		text-align: center;
		padding-bottom: 7px;
	}
	/* top header css */
	.footer_address_wrap {
		margin-top: 0;
	}
	.width_30 {
		width: 100%;
	}
	.width_50{
		width:100%;
	}
	.owl-nav > div {
		font-size:30px;
	}
	.about_content {
		padding: 15px 0 0 0px;
		width: 100%;
		float:left;
	}
	.footer_widget {
		margin-bottom: 30px;
	}
	.widget_title {
		margin-bottom: 18px;
	}
	/* column reverse */
		.mobile_column_reverse{
		flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
	}
	/* column reverse */
	/* login css */
	.login_form_cover .form_heading {
		margin-bottom: 17px;
	}
	.login_form_cover .form_heading .heading {
		font-size: 24px;
		font-weight: 600;
	}
	.login_form_thumb .img_box img {
		width: 200px;
	}
	/* login css */
	/* comment list css */
	.comment_list .user {
		width: 80px;
	}
	.comment_list li .message {
		padding-left: 90px;
	}
	/* comment list css */
	/* slider css */
	.slider_caption_text {
		padding: 0 15px;
	}
	.slider_caption_text h3 {
		font-size: 26px;
		line-height: 35px;
	}
	.slider_caption_text .slider_btn {
		margin-top: 10px;
		font-size: 14px;
		padding: 0px 20px;
		height: 40px;
		line-height: 40px;
	}
	/* slider css */
	/* coming soon css */
	.coming_soon_section {
		padding: 60px 0;
	}
	.coming_soon_texts .icon_box .c_icon {
		font-size: 32px;
		width: 80px;
		height: 80px;
		line-height: 80px;
	}
	.coming_soon_texts .contents h1 {
		font-size: 46px;
		margin-top: 30px;
	}
	.coming_soon_texts .contents h2 {
		font-size: 24px;
	}
	/* coming soon css */
}
@media(max-width:767px){
	/* slider css */
	.slide_item {
		background-position: center right;
	}
	/* slider css */
	/* caption text css  */
	.caption_box .heading{
		font-size: 30px;
		line-height: 41px;
	}
	/* caption text css  */
	/* about css start */
	.about_page_wrap .about_thumb {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.about_page_wrap .about_text {
		display: inline-block;
		width: 100%;
	}
	/* about css start */
	.owl-carousel .owl-nav > button.owl-prev, 
	.owl-carousel .owl-nav > button.owl-next {
		font-size: 15px;
		width: 30px;
		height: 30px;
		line-height: 28px;
	}
	.home_slider .owl-nav > button.owl-prev, 
	.home_slider .owl-nav > button.owl-next {
		margin-top: -15px;
	}
	/* header top css */
	.hdr_buttons .hdr_button {
		padding: 0;
		width: 35px;
		height: 35px;
		line-height: 35px;
		border-radius: 50%;
		font-size: 15px;
	}
	.hdr_buttons .hdr_button i {
		margin: 0;
	}
	.hdr_buttons .hdr_button .text {
		display: none;
	}
	/* header top css */
}
/*landscape Media queries*/
@media only screen and (max-device-width:767px) and (orientation : landscape) {
	/* slider css */
	.slider_caption_text h3 {
	font-size: 20px;
	line-height: 29px;
	}
	/* slider css */
}
@media(max-width:500px){
	/* panel header css */
	.panel_header {
		justify-content: center;
		text-align: center;
	}
	.panel_header .panel_left {
		display: inline-block;
		padding: 7px 14px;
	}
	.panel_header .panel_right {
		float: none;
		display: inline-block;
	}
	/* panel header css */
}
@media(max-width:480px){
	.header_logo > a img {
		max-height: 35px;
	}
	.nav_toggle {
		margin: 0px 10px 0 0;
	}
	/* comment list css */
	.comment_list .user {
		width: 60px;
	}
	.comment_list li .message {
		padding-left: 70px;
	}
	/* comment list css */
}
@media(max-width:440px){
    .buyer_gigs_item .img_box {
        float: none;
        width: 100px;
        display: inline-block;
    }
    .buyer_gigs_item .contents {
        padding-left: 0;
        padding-top: 15px;
        display: inline-block;
        width: 100%;
        text-align: left;
    }
}
@media(max-width:374px){
	.comment_list .user {
		width: 70px;
	}
	.comment_list li .message {
		padding-left: 0;
		display: inline-block;
		width: 100%;
		padding-top: 10px;
	}
}